@import'../abstract/variavies';

.banner{
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-width: 350px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}